body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:81px;
  width:1320px;
  height:1057px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:21px;
  width:113px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:58px;
}
#u3 {
  position:absolute;
  left:117px;
  top:0px;
  width:812px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:21px;
  width:808px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u5 {
  position:absolute;
  left:929px;
  top:0px;
  width:65px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:58px;
}
#u7 {
  position:absolute;
  left:994px;
  top:0px;
  width:321px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:21px;
  width:317px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:230px;
}
#u9 {
  position:absolute;
  left:0px;
  top:58px;
  width:117px;
  height:230px;
  color:#FF0000;
}
#u10 {
  position:absolute;
  left:2px;
  top:107px;
  width:113px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:230px;
}
#u11 {
  position:absolute;
  left:117px;
  top:58px;
  width:812px;
  height:230px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u12 {
  position:absolute;
  left:2px;
  top:107px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:230px;
}
#u13 {
  position:absolute;
  left:929px;
  top:58px;
  width:65px;
  height:230px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u14 {
  position:absolute;
  left:2px;
  top:107px;
  width:61px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:230px;
}
#u15 {
  position:absolute;
  left:994px;
  top:58px;
  width:321px;
  height:230px;
}
#u16 {
  position:absolute;
  left:2px;
  top:107px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:481px;
}
#u17 {
  position:absolute;
  left:0px;
  top:288px;
  width:117px;
  height:481px;
  color:#1E1E1E;
}
#u18 {
  position:absolute;
  left:2px;
  top:232px;
  width:113px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:481px;
}
#u19 {
  position:absolute;
  left:117px;
  top:288px;
  width:812px;
  height:481px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u20 {
  position:absolute;
  left:2px;
  top:232px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:481px;
}
#u21 {
  position:absolute;
  left:929px;
  top:288px;
  width:65px;
  height:481px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u22 {
  position:absolute;
  left:2px;
  top:232px;
  width:61px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:481px;
}
#u23 {
  position:absolute;
  left:994px;
  top:288px;
  width:321px;
  height:481px;
}
#u24 {
  position:absolute;
  left:2px;
  top:232px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
}
#u25 {
  position:absolute;
  left:0px;
  top:769px;
  width:117px;
  height:58px;
  color:#1E1E1E;
}
#u26 {
  position:absolute;
  left:2px;
  top:21px;
  width:113px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:58px;
}
#u27 {
  position:absolute;
  left:117px;
  top:769px;
  width:812px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:2px;
  top:21px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:58px;
}
#u29 {
  position:absolute;
  left:929px;
  top:769px;
  width:65px;
  height:58px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u30 {
  position:absolute;
  left:2px;
  top:21px;
  width:61px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:58px;
}
#u31 {
  position:absolute;
  left:994px;
  top:769px;
  width:321px;
  height:58px;
}
#u32 {
  position:absolute;
  left:2px;
  top:21px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:225px;
}
#u33 {
  position:absolute;
  left:0px;
  top:827px;
  width:117px;
  height:225px;
}
#u34 {
  position:absolute;
  left:2px;
  top:104px;
  width:113px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:225px;
}
#u35 {
  position:absolute;
  left:117px;
  top:827px;
  width:812px;
  height:225px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:2px;
  top:104px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:225px;
}
#u37 {
  position:absolute;
  left:929px;
  top:827px;
  width:65px;
  height:225px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:2px;
  top:104px;
  width:61px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:225px;
}
#u39 {
  position:absolute;
  left:994px;
  top:827px;
  width:321px;
  height:225px;
}
#u40 {
  position:absolute;
  left:2px;
  top:104px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:354px;
  top:750px;
  width:461px;
  height:96px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u43 {
  position:absolute;
  left:354px;
  top:702px;
  width:461px;
  height:16px;
  color:#1E1E1E;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u45 {
  position:absolute;
  left:378px;
  top:459px;
  width:461px;
  height:32px;
  color:#1E1E1E;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u47 {
  position:absolute;
  left:378px;
  top:495px;
  width:734px;
  height:112px;
  color:#1E1E1E;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:572px;
  top:461px;
  width:141px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:517px;
  top:476px;
  width:55px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:763px;
  top:512px;
  width:32px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:610px;
  top:528px;
  width:60px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:626px;
  top:560px;
  width:60px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:488px;
  top:576px;
  width:71px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:16px;
}
#u55 {
  position:absolute;
  left:583px;
  top:525px;
  width:413px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0000FF;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:610px;
  top:544px;
  width:60px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:378px;
  top:183px;
  width:734px;
  height:128px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:848px;
  top:184px;
  width:60px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:499px;
  top:201px;
  width:73px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:486px;
  top:233px;
  width:55px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:556px;
  top:233px;
  width:55px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:721px;
  top:249px;
  width:55px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:792px;
  top:249px;
  width:55px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:756px;
  top:266px;
  width:55px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
